* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    text-align: center;
    font-family: Montserrat;
}

.nav-menu {
    display: inline-block;
    text-align: center;
    color: red;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.7px;

    margin: 30px 72px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.heading {
    text-align: center;
    margin: 48px 253px 38px 253px;

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;

    color: #373737;
}

.paragraph {
    text-align: center;
    margin: 0px 67.5px 28px 67.5px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;

    color: #373737;
}

.get-started {
    text-align: center;
    display: inline-block;
    margin: 38px 0 42px 0;
    padding: 18px 42px;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;

    border-radius: 4px;
    color: #FFFFFF;
    background-color: #FF0000;

    cursor: pointer;
}

.fotter {
    margin: 40px 105px 29px 713px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
    letter-spacing: 2.4px;
    font-family: Montserrat;
}